@font-face {
  font-family: "Sky Text";
  src: url("https://1973584292.rsc.cdn77.org/email/fonts/stfont.eot");
  src: url("https://1973584292.rsc.cdn77.org/email/fonts/stfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://1973584292.rsc.cdn77.org/email/fonts/stfont.ttf")
      format("truetype"),
    url("https://1973584292.rsc.cdn77.org/email/fonts/stfont.woff2")
      format("woff2"),
    url("https://1973584292.rsc.cdn77.org/email/fonts/stfont.woff")
      format("woff"),
    url("https://1973584292.rsc.cdn77.org/email/fonts/stfont.svg#SkyText-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
